[run]
omit =
    antelope/gen2/YAML*
    antelope/gen3/YAML*

[report]
exclude_lines =
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise TypeError
